#fish-dropdown {
  padding-top: 75px;
}

div h1 {
  text-align: center;
  padding-bottom: 30px;
  font-weight: 600;
}

#tank-button {
  background-color: lightskyblue;
  font-weight: 600;
}

canvas {
  background-image: url(img/fishtank.png);
  width: 100%;
  object-fit: contain;
}

#reset {
  position: absolute;
  top: 775px;
  left: 425px;
}
