#fish-dropdown {
    padding-top: 75px;
}

div h1 {
    text-align: center;
    padding-bottom: 30px;
    font-weight: 600;
}

#tank-button {
    background-color:lightskyblue;
    font-weight: 600;
}