body{
 background-image: url(img/fish-pattern.jpg);
 background-size: 500px;
 background-repeat: repeat;
}

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: auto;
  max-width: 25%;
  min-width: 300px;
}

#fish-dropdown {
  padding-top: 15px;
  padding-left: 5%;
  padding-right: 5%;
  max-width: 1000px;
}

#tank-button {
  background-color:hsl(226, 68%, 59%);
  color:white;
  font-weight: 600;
}

.parent {
  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;

}

#fishborder {
  display: flex;
  margin-top: 35px;
  position: relative;
  width: 950px;
}

canvas {
  display: flex;
  margin-top: 115px;
  position: absolute;
  background-image: url(img/fishtankbackground.jpg);
  background-size: 100% 100%;
  width: 910px;
  height: 490px;
  
}

#alert-info {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#alert-success {
  margin-top: 20px;
  display: none;
  justify-content: center;
  align-items: center;
}

hr.rounded {
  border-top: 5px solid #F0F0F0;
  border-radius: 5px;
  max-width: 60%;
}

#desc-parent {
  display: flex;
  margin: auto;
  margin-top: 35px;
  width: 75%;
}

#fish-heading {
  text-align: center;
  margin-top: 10px;
  font-weight: 500;
}

#fish-desc {
  text-align: center;
  color:gray;
  font-size: 20px;
  margin-top: 20px;
  padding-left: 5%;
  padding-right: 5%;
}

.row {
  margin: auto;
  padding-top: 25px;
  padding-left: 150px;
  padding-right: 150px;
  width: 100%;
}

.column {
  margin: auto;
}

.card {
  margin: auto;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 40px;
  box-shadow: 8px 8px 8px 0 rgba(0, 0, 0, 0.2);
  width: 300px;
}

@media only screen and (max-width: 600px) {
  .row {
    padding-left: 0px;
    padding-right: 0px;
  }
}